* {
	margin: 0;
	padding: 0;
}

html {
	background: #fff;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

@font-face {
	font-family: "OpenSansCond";
	src: url("../fonts/OpenSansCondensed/OpenSans-CondLight.eot");
	src: local('O'),
	url("../fonts/OpenSansCondensed/OpenSans-CondLight.eot?") format("embedded-opentype"),
	url("../fonts/OpenSansCondensed/OpenSans-CondLight.woff") format("woff"),
	url("../fonts/OpenSansCondensed/OpenSans-CondLight.woff2") format("woff2"),
	url("../fonts/OpenSansCondensed/OpenSans-CondLight.ttf") format("truetype"),
	url("../fonts/OpenSansCondensed/OpenSans-CondLight.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/robotocondensed.eot");
	src: local('O'),
	url("../fonts/Roboto/robotocondensed.eot?") format("embedded-opentype"),
	url("../fonts/Roboto/robotocondensed.woff") format("woff"),
	url("../fonts/Roboto/robotocondensed.woff2") format("woff2"),
	url("../fonts/Roboto/robotocondensed.ttf") format("truetype"),
	url("../fonts/Roboto/robotocondensed.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/robotocondensedbold.eot");
	src: local('O'),
	url("../fonts/Roboto/robotocondensedbold.eot?") format("embedded-opentype"),
	url("../fonts/Roboto/robotocondensedbold.woff") format("woff"),
	url("../fonts/Roboto/robotocondensedbold.woff2") format("woff2"),
	url("../fonts/Roboto/robotocondensedbold.ttf") format("truetype"),
	url("../fonts/Roboto/robotocondensedbold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../bootstrap/fonts/fontawesome-webfont.eot');
	src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),
	url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),
	url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');
}


a img {
	border: none;
	outline: none !important;
}
a{
	outline: none !important;  /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
	outline: 0;
}

.image_hover {
	position: absolute;
}
.image_upper {
	position: relative;
}
.image_upper:hover {
	opacity: 0;
}

/* для iphone - убирает автоматическое откругление уголов */
input[type="text"],input[type="password"], textarea{
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	-webkit-appearance: none;
	line-height: inherit;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

.container{
	width: 100%;
	max-width: 1300px;
	margin: auto;
}

header{
	width: 100%;
	background-color: #ffcc33;
	position: relative;
}

nav{
	/*padding-left: 5%;*/
}

.menuWrap:after{
	clear: both;
	display: table;
	content: ' ';
}
.menu{float: left;
	height: 52px;
	padding-left: 5%;
}

/*.menuWrap{height: 52px;*/
/*float: left;*/
/*}*/

.menuMobile{
	background: rgba(255, 226, 59, 0.61);
	display: none;
}

nav ul{
	margin: 0;
}

nav li.itemMenu:hover{
	background: #ffe23b;
}

nav .phone{
	float: right;
	padding-top:15px;
	padding-right: 7%;
	width: -webkit-calc(5% + 10px);
	width: -moz-calc(5% + 10px);
	padding-right: calc(5% + 10px);
	font-size: 1.4em;
	font-weight: bold;
	color: white;
	width: 128px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	filter: Shadow(Color=#121212, Direction=130, Strength=1);
}

nav li{
	list-style: none;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	filter: Shadow(Color=#121212, Direction=130, Strength=1);
}

nav .menu li{
	display: inline-block;
	padding: 15px 10px;
}

nav .menuMobile li {
	padding: 10px 0 10px 5%;
	border-top: 1px solid #fffc7f;
}
nav .menuMobile li:last-child{
	border-bottom: 1px solid #fffc7f;
}

.fa-bars{
	font-size: 24px;
	color: #f4f9f5;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	filter: Shadow(Color=#121212, Direction=130, Strength=1);
	cursor: pointer;
	padding-left:5%;
	padding-top:11px;
	display: none;
	float: left;
}

nav li a{
	text-decoration: none;
	color: white;
	font-size: 1.3em;
	font-weight: bold;
}

nav .menu li a{
	padding: 15px 10px;
}

nav li a:hover, nav li a:active {
	text-decoration: none;
}







.topWrapper{
	width: 100%;
	min-height: 350px;
	background: url("../image/oavv3DC.jpg");
}

.projectsWrapper{
	width: 100%;
	min-height: 850px;
	background: url("../image/white.png") repeat;
	background-size: contain;
}